.content {
  display: flex;
  min-height: 100vh;
}
.left-panel {
  flex: .2;
  background-color: darkgray;
}
.panel.right-panel {
  flex: .8;
  padding-left: 60px;
}
.menu-left {
  margin-top: 60px;
  margin-left: -30px;
  margin-right: -30px;
}
.menu-left .submenu-left {
  display: none;
}
.menu-left .submenu-left.in {
  display: block;
}
.menu-left .submenu-left .menu-item {
  padding: 15px;
  padding-left: 50px;
  padding-right: 30px;
  padding: 1px 0px 1px 0px;
  cursor: pointer;
}
.menu-left .submenu-left .menu-item .menu-link {
  padding: 15px 30px 15px 50px;
}
.menu-left .menu-item {
  padding: 1px 0px 1px 0px;
  cursor: pointer;
}
.menu-left .menu-item span {
  padding: 15px 30px 15px 30px;
  display: block;
}
.menu-left .menu-item .menu-link {
  padding: 15px 30px 15px 30px;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
}
.menu-left .menu-item.active {
  background-color: lightgray;
}
.menu-left .menu-item:hover {
  background-color: lightgray;
}
