.new-color-popup {
  display: none;
  position: relative;
  padding: 30px;
  padding-top: 15px;
  width: 100%;
  height: 130px;
  border-radius: 10px;
  border: 1px solid gray;
  z-index: 200;
  top: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.new-color-popup.in {
  display: table;
}
.new-color-popup .new-color-popup-title {
  margin-top: 10px;
  margin-bottom: 20px;
}
.new-color-popup .form-row {
  display: table-row;
  width: 100%;
}
.new-color-popup .form-row label {
  vertical-align: middle;
}
.new-color-popup .form-row input {
  float: right;
  height: 20px;
  padding: 2px;
}
.new-color-popup .form-row input[type=color] {
  height: 22px;
}
.new-color-popup .buttons-bar {
  margin-top: 15px;
  text-align: right;
}
.new-color-popup .buttons-bar .error {
  display: none;
  float: left;
  margin-top: 7px;
  color: red;
  font-size: .6rem;
}
.new-color-popup .buttons-bar .error.in {
  display: inline-block;
}
.color-body {
  display: flex;
  margin-top: 65px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.color-body .color-section {
  padding: 30px;
  flex: .49;
  border-radius: 10px;
  border: 1px solid gray;
  flex-basis: calc(42%);
  max-width: calc(42%);
  margin-bottom: 10px;
}
.color-body .color-section .color-section-add-btn {
  position: relative;
  width: 100%;
  text-align: right;
  cursor: pointer;
}
.color-body .color-section .color-section-add-btn.out {
  display: none;
}
.color-body .color-section .color-section-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.color-body .color-section .color-section-body {
  display: flex;
  flex-wrap: wrap;
}
.color-body .color-section .color-section-body .color-item {
  min-width: 100px;
}
.color-body .color-section .color-section-body .color-item .color-name {
  font-size: .7rem;
  margin-bottom: 5px;
  display: inline-block;
}
.color-body .color-section .color-section-body .color-item .color-code {
  width: 80px;
  height: 50px;
  display: block;
}
.color-body .color-section .color-section-body .color-item .controls-color-bar .delete-lnk {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .color-body .color-section {
    flex: 1;
    max-width: calc(88%);
    flex-basis: calc(88%);
  }
}
