.section-container section:last-child {
  flex-basis: 15% !important;
  max-width: 15% !important;
}
.section-container section:last-child .layer-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section-container section:last-child .form-row {
  font-size: .6rem;
  margin-bottom: 5px;
  overflow: hidden;
}
.section-container section:last-child .buttons-bar .error {
  display: none;
  float: left;
  margin-top: 7px;
  color: red;
  font-size: .6rem;
}
.section-container section:last-child .buttons-bar .error.in {
  display: inline-block;
}
#parent_rug_parts {
  width: 100%;
}
.layer-body {
  min-height: 200px;
}
.layer-body .section-container {
  display: flex;
  margin-top: 65px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.layer-body .section-container .layer-section {
  padding: 30px;
  flex: .49;
  border-radius: 10px;
  border: 1px solid gray;
  flex-basis: 10%;
  max-width: 10%;
  margin-bottom: 10px;
  margin-right: 20px;
}
.layer-body .section-container .layer-section .layer-section-add-btn {
  position: relative;
  width: 100%;
  text-align: right;
  cursor: pointer;
}
.layer-body .section-container .layer-section .layer-section-add-btn.out {
  display: none;
}
.layer-body .section-container .layer-section .layer-section-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.layer-body .section-container .layer-section .layer-section-body {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.layer-body .section-container .layer-section .layer-section-body .layer-item {
  min-width: 100px;
  display: flex;
  flex-direction: column;
}
.layer-body .section-container .layer-section .layer-section-body .layer-item .layer-name {
  font-size: .7rem;
  margin-bottom: 5px;
  display: inline-block;
}
.layer-body .section-container .layer-section .layer-section-body .layer-item .layer-filename .layer-image {
  max-width: 95%;
}
.layer-body .section-container .layer-section .layer-section-body .layer-item .controls-layer-bar .delete-lnk {
  float: right;
  margin-right: 0;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .color-body .color-section {
    flex: 1;
    max-width: calc(88%);
    flex-basis: calc(88%);
  }
}
