.content {
    display: flex;
    min-height: 100vh;
}
.left-panel {
    flex: .2;
    background-color: darkgray;
}
.panel.right-panel {
    flex: .8;
    padding-left: 60px;
}

.menu-left {
    margin-top: 60px;
    margin-left: -30px;
    margin-right: -30px;

    .submenu-left {
        display: none;
        &.in {
            display: block;
        }
        .menu-item {
            padding: 15px;
            padding-left: 50px;
            padding-right: 30px;
            padding: 1px 0px 1px 0px;
            cursor: pointer;

            .menu-link {
                padding: 15px 30px 15px 50px;
            }
        }
    }
    .menu-item {
        padding: 1px 0px 1px 0px;
        cursor: pointer;

        span {
            padding: 15px 30px 15px 30px;
            display: block;
        }
        .menu-link {
            padding: 15px 30px 15px 30px;
            color: white;
            display: block;
            width: 100%;
            height: 100%;
        }
        &.active {
            background-color: lightgray;
        }
        &:hover {
            background-color: lightgray;
        }
    }

}