@import "variables";

.new-color-popup {
    display: none;
    position: relative;
    padding: 30px;
    padding-top: 15px;
    width: 100%;
    height: 130px;
    border-radius: 10px;
    border: 1px solid gray;
    z-index: 200;
    top: 0;
    margin-bottom: 20px;
    box-sizing: border-box;

    &.in {
        display: table;
    }
    .new-color-popup-title {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .form-row {
        display: table-row;
        width: 100%;

        label {
            vertical-align: middle;
        }
        input {
            float: right;
            height: 20px;
            padding: 2px;
        }
        input[type=color] {
            height: 22px;
        }
    }
    .buttons-bar {
        margin-top: 15px;
        text-align: right;

        .error {
            display: none;
            float: left;
            margin-top: 7px;
            color: red;
            font-size: .6rem;
            &.in {
                display: inline-block;
            }
        }
    }
    
}

.color-body {
    display: flex;
    margin-top: 65px;
    justify-content: space-between;
    flex-wrap: wrap;
    .color-section{
        padding: 30px;
        flex: .49;
        border-radius: 10px;
        border: 1px solid gray;
        flex-basis: calc(50% - 8vw);
        max-width: calc(50% - 8vw);
        margin-bottom: 10px;

        .color-section-add-btn {
            position: relative;
            width: 100%;
            text-align: right;
            cursor: pointer;
            &.out {
                display: none;
            }
        }
        .color-section-title {
            font-weight: 600;
            font-size: @h3font;
            margin-bottom: 30px;
        }
        .color-section-body {
            display: flex;
            flex-wrap: wrap;
            .color-item {
                min-width: 100px;
                .color-name {
                    font-size: .7rem;
                    margin-bottom: 5px;
                    display: inline-block;
                }
                .color-code {
                    width: 80px;
                    height: 50px;
                    display: block;
                }
                .controls-color-bar {
                    .delete-lnk {
                        float: right;
                        margin-right: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .color-body {
        .color-section {
            flex: 1;
            max-width: calc(100% - 12vw);
            flex-basis: calc(100% - 12vw);
        }
    }
}