@import "variables";

.panel {
    padding: 30px;
}

body {
    font-family: Verdana;
    font-weight: 300;
}

h2 {
    font-weight: 300;
    color: black;
    font-size: @h2font;
}

ul, li {

}

a {
    text-decoration: none;
}

.link {
    color: @linkcolor;
}