@import "variables";

.section-container section:last-child {
    flex-basis: 15% !important;
    max-width: 15% !important;
    
    .layer-form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .form-row {
        font-size: .6rem;
        margin-bottom: 5px;
        overflow: hidden;
    }

    .buttons-bar {
        .error {
            display: none;
            float: left;
            margin-top: 7px;
            color: red;
            font-size: .6rem;
            &.in {
                display: inline-block;
            }
        }
    }
}

#parent_rug_parts {
    width: 100%;
}

.layer-body {
    min-height: 200px;
        .section-container {
        display: flex;
        margin-top: 65px;
        justify-content: flex-start;
        flex-wrap: wrap;
        .layer-section{
            padding: 30px;
            flex: .49;
            border-radius: 10px;
            border: 1px solid gray;
            flex-basis: 10%;
            max-width: 10%;
            margin-bottom: 10px;
            margin-right: 20px;

            .layer-section-add-btn {
                position: relative;
                width: 100%;
                text-align: right;
                cursor: pointer;
                &.out {
                    display: none;
                }
            }
            .layer-section-title {
                font-weight: 600;
                font-size: @h3font;
                margin-bottom: 30px;
            }
            .layer-section-body {
                display: flex;
                flex-wrap: wrap;
                height: 100%;
                .layer-item {
                    min-width: 100px;
                    display: flex;
                    flex-direction: column;
                    .layer-name {
                        font-size: .7rem;
                        margin-bottom: 5px;
                        display: inline-block;
                    }
                    .layer-filename {
                        .layer-image {
                            max-width: 95%;
                        }
                    }
                    .controls-layer-bar {
                        .delete-lnk {
                            float: right;
                            margin-right: 0;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .color-body {
        .color-section {
            flex: 1;
            max-width: calc(100% - 12vw);
            flex-basis: calc(100% - 12vw);
        }
    }
}