@import "variables";
// Add main less styles here

.container {
    display: flex;
    justify-content: space-around;
}
.palette-container {
    width: 500px;
    height: 450px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    .palette-item {
        width: 50px;
        height: 50px;
        margin: 20px;
        float: left;

        .color-item {
            width: 100%;
            height: 100%;
            display: block;
            cursor: pointer;
        }
    }
}

.layers-container {
    width: 700px;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    .rug-part-item {
        width: 150px;
        height: 150px;
        margin: 20px;
        float: left;
        .layer-item {
            cursor: pointer;
        }
        .layer-image {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

.design-area {
    width: 700px;
    height: 700px;
    border: 1px solid black;
    border-radius: 10px;
    float: left;

    #design-image {
        width: 600px;
        height: 600px;
    }
}