
<section class="color-section">
    <div class="color-section-add-btn link">Add</div>
    <div class="color-section-title">
        Title
    </div>
    <div class="new-color-popup">
        <div class="new-color-popup-title">New Color</div>
        <div class="form-row">
            <label for="new-color-name">Color name:</label>
            <input type="text" name="new-color-name" />
        </div>
        <div class="form-row">
            <label for="new-color-code">Color code:</label>
            <input pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" type="text" name="new-color-code" /><input class="color-btn" type="color" name="new-color-code-picker" />
        </div>
        <div class="buttons-bar">
            <label class="error"></label><button class="cancel-add-btn">Cancel</button><button class="save-color-btn">Save</button>
        </div>
    </div>
    <div class="color-section-body">
    {% include 'color-item.twig' %}
    </div>
</section>