{% extends 'base/layout.twig' %}

{% block body %}
  <div class="panel-title">
    <h2>Color Administration</h2>
  </div>
  <section class="panel-body color-body">
    <div class="section-container">
      {% include 'color-list.twig' %}
    </div>
    <script type="text/javascript">
      var deleteConfirmMessage = 'Are You sure You want to delete this color ?';
      let colorSection = document.querySelector('.color-section').cloneNode(true);
      colorSection.querySelector('.color-item').remove();
      let colorItem = document.querySelector('.color-item').cloneNode(true);
      let panelbody = document.querySelector('.panel-body');

      function indexStartUp() {
        var r = new XMLHttpRequest();

        r.open("GET", "{{ base_path() }}/../api/v1/colors", true);
        r.onreadystatechange = function () {
          
        if (r.readyState != 4 || r.status != 200) return;
          const object = JSON.parse(r.responseText);
        
          var s = new XMLHttpRequest();
          s.open("GET", "{{ base_path() }}/../api/v1/parttypes", true);
          s.onreadystatechange = function () {
            
          if (s.readyState != 4 || s.status != 200) return;
            const typesObject = JSON.parse(s.responseText);
            typesObject.parttypes.forEach(addColorSection);
            object.colors.forEach(addColorItem);

            const addButtons = document.querySelectorAll('.color-section-add-btn');
            //const deleteButtons = document.querySelectorAll('.delete-lnk');
            const saveButtons = document.querySelectorAll('.save-color-btn');
            const cancelButtons = document.querySelectorAll('.cancel-add-btn');
            const colorButtons = document.querySelectorAll('.color-btn');
            for (const button of addButtons) {
              button.addEventListener('click', addNewColorPopup);
            }
            for (const button of saveButtons) {
              button.addEventListener('click', saveColor);
            }
            for (const button of cancelButtons) {
              button.addEventListener('click', closePopup);
            }
            for (const button of colorButtons) {
              button.addEventListener('change', changedColor);
            }
            
          };
          s.send();

        };
        r.send();

        panelbody.innerHTML = '';
        var currentSection;

        function addNewColorPopup(e) {
          e.target.classList.add('out');
          e.target.parentElement.querySelector('.new-color-popup').classList.add('in');
        }

        function deleteColor(e) {
          if (confirm(deleteConfirmMessage)) {
            var r = new XMLHttpRequest();
            var itemtodelete = e.target.parentElement.parentElement;
            var idtodelete = itemtodelete.getAttribute('data-item-id');
            r.open("DELETE", "{{ base_path() }}/../api/v1/colors/" + idtodelete, true);
            r.onreadystatechange = function () {
            if (r.readyState != 4 || r.status != 200) return;
              //const object = JSON.parse(r.responseText);
              itemtodelete.remove();
            };
            r.send();
          }
        }

        function saveColor(e) {
          let form = e.target.parentElement.parentElement;
          let parent = e.target.parentElement;
          let errorLabel = parent.querySelector('.error');
          errorLabel.classList.remove('in');
          let selectedId = e.target.getAttribute('data-id');
          
          let colorname = form.querySelector("input[name='new-color-name']");
          let colornameValue = colorname.value;
          let colorcode = form.querySelector("input[name='new-color-code']");
          let colorcodeValue = colorcode.value.toUpperCase();

          let message = colorFormValid(colornameValue, colorcodeValue, colorname, colorcode);
          if (message == '') {
            var formData = new FormData();
            formData.append('name', colornameValue);
            formData.append('colorcode', colorcodeValue);
            formData.append('part_type_id', selectedId);

            var r = new XMLHttpRequest();
            r.open("POST", "{{ base_path() }}/../api/v1/colors", true);
            r.onreadystatechange = function () {
            if (r.readyState != 4 || r.status != 200) return;
              const object = JSON.parse(r.responseText);

              closePopupFinally(e.target);
              addColorItem(object.color, object.color.part_type_id);

            };
            r.send(formData);
            

          } else {
            errorLabel.classList.add('in');
            errorLabel.innerHTML = message;
          }
        }

        function changedColor(e) {
          e.target.parentElement.querySelector("input[name='new-color-code']").value = e.target.value;
        }

        function colorFormValid(colorname, colorcode, nameField, colorField) {
          // Color name validation
          if (colorname == '') {
            nameField.style.border = '1px solid red';
            return 'No Color Name Specified';
          } else {
            nameField.style.border = '';
          }
          // Color code validation
          if (colorcode == '') {
            colorField.style.border = '1px solid red';
            return 'No Color Code Specified';
          } else {
            if (isHexColor(colorcode)) {
              colorField.style.border = '';
            } else {
              colorField.style.border = '1px solid red';
              return 'Not Valid Color Code';
            }
          }
          return '';
        }

        function closePopup(e) {
          let form = e.target.parentElement.parentElement;
          let parent = e.target.parentElement;
          let errorLabel = parent.querySelector('.error');
          errorLabel.classList.remove('in');
          errorLabel.innerHTML = '';
          let colorname = form.querySelector("input[name='new-color-name']");
          let colorcode = form.querySelector("input[name='new-color-code']");
          colorname.style.border = '';
          colorcode.style.border = '';
          closePopupFinally(e.target);
        }

        function closePopupFinally(target) {
          target.parentElement.parentElement.classList.remove('in');
          target.parentElement.parentElement.parentElement.querySelector('.color-section-add-btn').classList.remove('out');
        }

        function addColorSection(item, index) {
            colorSection.querySelector('.color-section-title').innerHTML = item.name;
            colorSection.setAttribute("id", "color-section-" + item.id);
            colorSection.querySelector('.color-section-add-btn').setAttribute('data-id', item.id);
            colorSection.querySelector('.new-color-popup').setAttribute('data-id', item.id);
            colorSection.querySelector('.save-color-btn').setAttribute('data-id', item.id);
            panelbody.appendChild(colorSection);
            currentSection = colorSection;
            colorSection = colorSection.cloneNode(true);
        }

        function addColorItem(item, index) {
          let currentSection = document.getElementById('color-section-' + item.part_type_id);
          let sectionBody = currentSection.querySelector('.color-section-body');
          colorItem.setAttribute('data-item-id', item.id);
          colorItem.querySelector('.color-name').innerHTML = item.name;
          colorItem.querySelector('.color-code').style.backgroundColor = item.colorcode;
          const deleteButton = colorItem.querySelector('.delete-lnk');
          deleteButton.addEventListener('click', deleteColor);

          sectionBody.appendChild(colorItem);
          colorItem = colorItem.cloneNode(true);
        }

        function isHexColor (hex) {
          if (hex.charAt( 0 ) == '#') hex = hex.substring(1);

          return typeof hex === 'string'
              && hex.length === 6
              && !isNaN(Number('0x' + hex))
        }
      }

      indexStartUp();
    </script>
  </section>


{% endblock %}