<div class="layer-item">
    <span class="layer-name">Color name ()</span>
    <span class="layer-filename"></span>
    <div class="controls-layer-bar"><span class="delete-lnk link">x</span></div>
</div>