{% extends 'base/layout.twig' %}
{% block body %}

  <div class="panel-title">
    <h2>{{ parttypeName }} Management</h2>
  </div>
  <section class="panel-body layer-body">
    <div class="section-container">

      {% include 'layer-list.twig' %}
      <section class="layer-section">
        <div class="layer-section-body">
          <form class="layer-form" enctype="multipart/form-data">
            <div class="form-row">
              <label for="name">Layer name: *</label>
              <input type="text" name="name" />
            </div>
            <div class="form-row">
              <label for="filename">Layer file: *</label>
              <input type="file" name="filename" id="layer-file-picker" />
            </div>
            <div class="form-row">
                <label for="rug_part_id">Group Id:</label>
                <input type="text" name="rug_part_id" />
            </div>
            {% if withparent == true %}
              <div class="form-row">
                  <label for="parent_id">Parent:</label>
                  <select id="parent_rug_parts" name="parent_id">
                    <option value="">---</option>
                  </select>
              </div>
            {% endif %}
            <div class="buttons-bar">
                <label class="error"></label><button type="submit" class="save-layer-btn">Add</button>
            </div>
          </form>
        </div>
      </section>
      
    </div>
    
    <script type="text/javascript">
      var deleteConfirmMessage = 'Are You sure You want to delete this layer ?';
      let layerSection = document.querySelector('.layer-section').cloneNode(true);
      document.querySelector('.layer-section').remove();
      let layerItem = document.querySelector('.layer-item');
      let panelbody = document.querySelector('.section-container');
      let parttypeId = {{ parttypeId }};
      {% if withparent == true %}
        populateParentParts();
      {% endif %}

      function populateParentParts() {

        var r = new XMLHttpRequest();
        r.open("GET", "{{ base_path() }}/../api/v1/rugparts/{{ parent }}", true);
        r.onreadystatechange = function () {
        if (r.readyState != 4 || r.status != 200) return;

          const object = JSON.parse(r.responseText);          
          object.rugparts.forEach(addRugPartSelectItem);
          

          function addRugPartSelectItem(item, index) {
            var rugPartsSelect = document.getElementById('parent_rug_parts');
            var option = document.createElement("option");
            option.text = item.name;
            option.value = item.id;
            rugPartsSelect.add(option);
          }
        };
        r.send();
      }


      function indexStartUp() {
        var r = new XMLHttpRequest();
        r.open("GET", "{{ base_path() }}/../api/v1/layers/{{ parttypeId }}", true);
        r.onreadystatechange = function () {
        if (r.readyState != 4 || r.status != 200) return;

          const object = JSON.parse(r.responseText);
          object.layers.forEach(addLayerSection);
          
          const saveButtons = document.querySelectorAll('.layer-form');
          for (const button of saveButtons) {
            button.addEventListener('submit', saveLayer);
          }
        };
        r.send();

        function deleteLayer(e) {
          if (confirm(deleteConfirmMessage)) {
            let form = e.target.parentElement.parentElement.parentElement.parentElement;
            let errorLabel = form.querySelector('.error');
            var r = new XMLHttpRequest();
            var idtodelete = form.getAttribute('data-item-id');
            r.open("DELETE", "{{ base_path() }}/../api/v1/layers/" + idtodelete, true);
            r.onreadystatechange = function () {
              if (r.readyState != 4) {
                return;
              }
              if (r.status != 200) {
                const object = JSON.parse(r.responseText);
                errorLabel.classList.add('in');
                errorLabel.innerHTML = object.message;
                return;
              }
              form.remove();
            };
            r.send();
          }
        }

        function saveLayer(e) {

          let form = e.target;
          let errorLabel = form.querySelector('.error');
          errorLabel.classList.remove('in');

          let layername = form.querySelector("input[name='name']");
          let layernameValue = layername.value;
          let layerfile = form.querySelector("input[name='filename']");
          let layerfileValue = layerfile.value.toUpperCase();
          let groupId = form.querySelector("input[name='rug_part_id']");
          let groupIdValue = groupId.value;

          let message = layerFormValid(layernameValue, layerfileValue, layername, layerfile);
          if (message == '') {

            var formData = new FormData(e.target);
            formData.append('type_id', parttypeId);

            var r = new XMLHttpRequest();
            r.open("POST", "{{ base_path() }}/../api/v1/layers", true);
            r.onreadystatechange = function () {
              if (r.readyState != 4) {
                return;
              }
              if (r.status != 200) {
                const object = JSON.parse(r.responseText);
                errorLabel.classList.add('in');
                errorLabel.innerHTML = object.message;
                return;
              }
              const object = JSON.parse(r.responseText);
              addLayerSection(object.layer, object.layer.rug_part.type_id);
            };
            r.send(formData);

          } else {
            errorLabel.classList.add('in');
            errorLabel.innerHTML = message;
          }

          e.preventDefault();
        }


        function layerFormValid(layername, layerfile, nameField, fileField) {
          // Color name validation
          if (layername == '') {
            nameField.style.border = '1px solid red';
            return 'No Layer Name Specified';
          } else {
            nameField.style.border = '';
          }
          // File validation
          if (layerfile == '') {
            fileField.style.border = '1px solid red';
            return 'No File Specified';
          } else {
            fileField.style.border = '';
          }
          return '';
        }

        function addLayerSection(item, index) {
          layerSection.querySelector('.layer-name').innerHTML = item.name + ' (' + item.rug_part_id + ')';
          layerSection.querySelector('.layer-filename').innerHTML = '<img class="layer-image" src="{{ base_path() }}/../' + item.filename + '">';
          layerSection.setAttribute('data-item-id', item.id);
          const deleteButton = layerSection.querySelector('.delete-lnk');
          deleteButton.addEventListener('click', deleteLayer);

          panelbody.insertBefore(layerSection, panelbody.firstChild);
          currentSection = layerSection;
          layerSection = layerSection.cloneNode(true);
        }
      }

      indexStartUp();
    </script>
  </section>
{% endblock %}