{% extends 'base/layout.twig' %}

{% block body %}
  <div class="panel-title">
    <h2>Add Color</h2>
  </div>
  <section class="panel-body color-body">


    <script type="text/javascript">

      {# function indexStartUp() {
        var r = new XMLHttpRequest();
        r.open("GET", "{{ base_path() }}/ullalla/api/v1/colors", true);
        r.onreadystatechange = function () {
        if (r.readyState != 4 || r.status != 200) return;
          //alert("Success: " + r.responseText);
          const object = JSON.parse(r.responseText);
        
          var s = new XMLHttpRequest();
          s.open("GET", "{{ base_path() }}/ullalla/api/v1/parttypes", true);
          s.onreadystatechange = function () {
          if (s.readyState != 4 || s.status != 200) return;
            const typesObject = JSON.parse(s.responseText);
            typesObject.parttypes.forEach(colorSections);
            object.colors.forEach(itemColors);

            const addButtons = document.querySelectorAll('.color-section-add-btn');
            const deleteButtons = document.querySelectorAll('.delete-lnk');
            for (const button of addButtons) {
              button.addEventListener('click', addNewColor);
            }
            for (const button of deleteButtons) {
              button.addEventListener('click', deleteColor);
            }
            
          };
          s.send();

        };
        r.send();

        let colorSection = document.querySelector('.color-section').cloneNode(true);
        colorSection.querySelector('.color-item').remove();
        let colorItem = document.querySelector('.color-item').cloneNode(true);
        let panelbody = document.querySelector('.panel-body');
        panelbody.innerHTML = '';
        var oldId = -1;
        var currentSection;

        function addNewColor(e) {
          alert('addcolor');
        }

        function deleteColor(e) {
          alert('deletecolor');
        }

        function colorSections(item, index) {
            colorSection.querySelector('.color-section-title').innerHTML = item.name;
            colorSection.setAttribute("id", "color-section-" + item.id);
            colorSection.querySelector('.color-section-add-btn').setAttribute('data-id', item.id);
            panelbody.appendChild(colorSection);
            currentSection = colorSection;
            colorSection = colorSection.cloneNode(true);
        }

        function itemColors(item, index) {
          let currentSection = document.getElementById('color-section-' + item.part_type_id);
          let sectionBody = currentSection.querySelector('.color-section-body');
          colorItem.querySelector('.color-name').innerHTML = item.name;
          colorItem.querySelector('.color-code').style.backgroundColor = item.colorcode;
          sectionBody.appendChild(colorItem);
          colorItem = colorItem.cloneNode(true);
        }
      }

      indexStartUp(); #}
    </script>
  </section>
{% endblock %}