<div class="panel-title">
    <h2>Administration</h2>
    <ul class="menu-left">

        <li {% if is_current_url('adminpage', { 'name': 'colors' }) %} class="menu-item active"{% else %} class="menu-item"{% endif %}><a class="menu-link" href="{{ url_for('adminpage', { 'name': 'colors' }) }}">Colors</a></li>
        <li {% if is_current_url('adminpage', { 'name': 'layers' }) %} class="menu-item active"{% else %} class="menu-item"{% endif %} class="menu-item"><span>Layers</span></li>
            <ul class="submenu-left {% if '/layer/' in current_url() %} in{% endif %}">
                {% for parttype in parttypes %}
                    <li {% if is_current_url('layerpage', { 'idlayertype': parttype.id }) %} class="menu-item active"{% else %} class="menu-item"{% endif %} class="menu-item"><a class="menu-link" href="{{ url_for('layerpage', { 'idlayertype': parttype.id }) }}">{{ parttype.name }}</a></li>
                {% endfor %}
            </ul>
    </ul>
    <script type="text/javascript">
        var menuitems = document.querySelectorAll('.menu-item');
        var submenus = document.querySelectorAll('.submenu-left');
        menuitems.forEach(menulisteners);

        function menulisteners(item, index) {
            item.addEventListener('click', function(e) {
                var submenu = e.target.parentElement.nextElementSibling;
                console.log(submenu);
                if (submenu) {
                    disableAllSubmenus();
                    if (submenu.className == 'submenu-left') submenu.classList.add('in');
                }
            });
        }
        function disableAllSubmenus() {
            submenus.forEach(function(item) {
                item.classList.remove('in');
            });
        }
    </script>
</div>
